@import '../styles/variables.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $font-family-primary;
  font-style: normal;
  font-size: 18px;
  font-optical-sizing: auto;
  color: $color-black;
  position: relative;
  background-color: $color-gray;
  text-transform: lowercase;

  @include md-down {
    font-size: 14px;
  }
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
ul {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
