// Colors

$color-black: rgb(26, 26, 26);
$color-gray: rgb(233, 233, 233);

$color-primary-hover: '';
$color-accent-primary-hover: '';
$color-accent-secondary-hover: '';

// Fonts
$font-family-primary: 'Inter', system-ui;
$font-family-secondary: system-ui;

$font-size-base: '18px';
$line-height-base: 1.6;

$font-size-xxl: '';
$line-height-xxl: '';

$font-size-xl: '';
$line-height-xl: '';

$font-size-lg: '';
$line-height-lg: '';

$font-size-md: '';
$line-height-md: '';

$font-size-sm: '';
$line-height-sm: '';

$font-size-xs: '';
$line-height-xs: '';

// Animate
$transition-base: 0.3s;

// Breakpoints
$breakpoint-lg-down: 1279px;
$breakpoint-md-down: 1023px;
$breakpoint-sm-down: 767px;
$breakpoint-xs-down: 413px;

@mixin lg-down {
  @media (max-width: #{$breakpoint-lg-down}) {
    @content;
  }
}

@mixin md-down {
  @media (max-width: #{$breakpoint-md-down}) {
    @content;
  }
}

@mixin sm-down {
  @media (max-width: #{$breakpoint-sm-down}) {
    @content;
  }
}

@mixin xs-down {
  @media (max-width: #{$breakpoint-xs-down}) {
    @content;
  }
}
