.sometimes {
  margin-top: 150px;
}

.wrapper-string {
  max-width: 946px;
  display: flex;
  margin-top: 12px;
  justify-content: space-between;
}

.wrapper-text {
  margin-left: auto;
  max-width: 922px;
  margin-top: 24px;
}
.title-min {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
.text-right {
  max-width: 726px;
  margin-left: auto;
}

.text-margin {
  margin-top: 3px;
}

.image {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
}

.image-text {
  margin-top: 15px;
  text-align: center;
}
