.articles {
  margin-top: 150px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0%;
}

.list {
  margin-top: 28px;
}

.image {
  //   width: 100%;
  display: block;
  margin-top: 10px;
}

.text-image {
  margin-top: 10px;
}

.list {
  display: flex;
  column-gap: 20px;
}
