@import '../../../../styles/variables.scss';
.hero-wrapper {
  position: relative;
}
.title {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 104px;
  font-weight: 600;
  z-index: 2;
  top: 40%;
  text-transform: lowercase;

  @include md-down {
    font-size: 64px;
  }
}
.wrapper-text {
  margin-left: auto;
  max-width: 922px;

  &:first-child {
    top: 30px;
    position: absolute;
    right: 0;
  }

  &:last-child {
    margin-top: -232px;
  }
  @include md-down {
    max-width: 482px;
  }
}

.wrapper-sub-text {
  margin-top: 2px;
  display: flex;
  justify-content: center;
  column-gap: 40px;
  @include md-down {
    justify-content: flex-start;
  }
}

.subtext-right {
  max-width: 560px;
  margin: auto;
  @include md-down {
    max-width: 384px;
    margin-right: 0;
  }
}

.subtitle {
  display: inline-block;
  padding-right: 15px;
}

.title-min {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  @include md-down {
    font-size: 14px;
  }
}
.text-margin {
  margin-top: 3px;
}

.text-right {
  margin-left: auto;
  max-width: 760px;
  @include md-down {
    max-width: 386px;
  }
}
