.hero {
  padding-top: 200px;
}
.wrapper-text {
  margin-left: auto;
  max-width: 922px;
  margin-top: 30px;
}
.title-min {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
.text-margin {
  margin-top: 3px;
}

.text-right {
  max-width: 726px;
  margin-left: auto;
}
